header {
  width: 100%;
  height: 21.4rem;

  background-image: url(../assets/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// CARD =========
.card {
  max-width: 35rem;
  margin: -7rem auto 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infos {
  margin: 1.6rem 0 0 0;
}

.infos h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--black);
  text-align: center;
  margin-bottom: 2rem;
}

.sub-info {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.8rem;
  // padding: 0 5rem;
}

.sub-info h2 {
  margin-left: 1.1rem;
  font-size: 1.6rem;
  font-weight: 400;
}

.links {
  margin-top: 3.5rem;
}

.link {
  width: 28rem;
  height: 6.2rem;
  margin-bottom: 1.8rem;

  display: flex;
  align-items: center;

  border-radius: 0.4rem;
  background-color: var(--black);
  border: var(--black) solid 0.1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: 0.5s ease;
}

.link:hover {
  opacity: 0.8;
  border: #a004ff solid 0.1rem;
}

.link a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 1.5rem 3rem;
  // background-color: aqua;
}

.link .link-icon {
  width: 7.6rem;
  margin-right: 2rem;
}

.link .link-icon img {
  margin-left: 2.4rem;
}

.link .link-nome {
  text-align: center;
  width: 10rem;
  // background-color: aqua;
  text-align: center;
}

// ======== DIVISOR

.divisor {
  width: 28rem;
  height: 0.2rem;
  margin-bottom: 1.8rem;
  background-color: var(--black);
}

.link-alt {
  width: 28rem;
  height: 6.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--gray);

  border-radius: 0.4rem;
  border: var(--black) 0.1rem;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
}
.link-alt:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.link-alt span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.link-alt img {
  widows: 24.5rem;
  height: 10.5rem;

  position: absolute;
}

// FRASE =========
.frase {
  margin-top: 3.8rem;
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
  color: #7b7b7b;
}

// FOOTER=========
footer {
  width: 100%;
  height: 8.1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer span {
  font-size: 1.4rem;
  font-weight: 100;
  font-style: italic;
  color: var(--gray);
}

.footer-icon img {
  margin-bottom: 5rem;
}
