* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  --black: #2e2e2e;
  --gray: #bfbfbf;

  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}
